.CP-search {
  /* background-color: white; */
  width: 30%;
  margin: auto;
  padding-top: 20px;
  border-bottom: 2px solid var(--main-stress);
}

.CP-searchBar {
  width: 85%;
  border: none;
  background-color: transparent;
  /* search bar 클릭했을때 text input 박스 안나오게 */
  outline: none;
  font-size: 15px;
  font-weight: 600;
}
.CP-searchBarbtn {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 10%;
  font-size: 17px;
}
.CP-results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2% 5%;
  position: relative;
}
.CP-loading {
  position: absolute;
  left: 48%;
  animation: spin 1s linear infinite;
  font-size: 30px;
  color: var(--main-stress);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.CP-noresult {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CP-result {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(241, 241, 241); */
  align-items: center;
  padding: 3%;
  /* padding-top: 4%; */
  /* height: 180px; */
  cursor: pointer;
  position: relative;
  border-bottom: 1px dashed var(--main-stress);
  /* border-bottom: 1px solid #864800; */
}
.CP-result:hover {
  background-color: white;
}
.CP-result:hover > img {
  transform: scale(1.1);
}
.CP-result-img-container {
  padding-right: 10px;
}
.CP-result-img {
  width: 115px;
  height: 152px;
  box-shadow: 2px 2px 7px;
}

.CP-result-info {
  text-align: left;
  padding: 2% 3%;
  /* margin: auto; */

  /* padding-right: 5%; */
  /* width: 75%; */
}
.CP-result-info-title {
  font-size: 18px;
  font-weight: 600;
  padding-top: 5px;
  width: 100%;
}
.CP-result-showMoreBtn {
  position: absolute;
  margin-top: 2%;
  left: 50%;
  transform: translateX(-50%);
}
.CP-submit {
  display: flex;
  justify-content: space-between;
  width: 30%;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
}

@media screen and (max-width: 768px) {
  .CP-results {
    display: flex;
    flex-direction: column;
  }
  .CP-result {
    padding: 3%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
  }
  .CP-result-info {
    text-align: left;
    padding: 3%;
    font-size: 13px;
    align-self: flex-start;
    margin: 0 5px;
    /* width: 75%; */
  }
  .CP-result-info-title {
    font-size: 15px;
    font-weight: 600;
    padding-top: 3px;
    width: 100%;
  }

  .CP-submit {
    position: static;
    flex-direction: column;
    width: 100%;
    height: 70px;
    transform: translate(0);
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .CP-search {
    width: 70%;
  }
  .CP-result-img {
    width: 80px;
    height: 120px;
    box-shadow: 2px 2px 7px;
    margin-bottom: 5%;
  }
  .CP-submit {
    height: 50px;
  }
}
