.Home {
  text-align: left;
  position: relative;
  /* background-image: url("https://cdn3.vectorstock.com/i/1000x1000/13/27/background-with-yellow-paint-brush-strokes-vector-21131327.jpg"); */
}

.H-header {
  position: relative;
  height: 70vh;
  background-color: var(--main-lighter);
}
.H-header-img1 {
  width: 17%;
  position: absolute;
  top: 27%;
  right: 15%;
  /* transform: translateY(-50%); */
  z-index: 1;
  /* border: 1px solid olive; */
  animation: movingUp 3s;
}
.H-header-img1-img {
  width: 100%;
  /* box-shadow: 0 100px 10px 0px black; */
}
.H-header-img1-shadow {
  position: absolute;
  width: 110%;
  height: 4px;
  bottom: 10px;
  /* border: 3px solid black; */
  box-shadow: 0 10px 13px black;
}
.H-header-img2 {
  position: absolute;
  width: 20%;
  /* height: 50vh; */
  top: 15%;
  right: 7%;
  z-index: 0;
  /* transform: translateY(-50%); */
  animation: movingDown 2s ease-in-out;
}
.H-header-img3 {
  position: absolute;
  width: 15%;
  bottom: 5%;
  right: 30%;
  /* transform: rotate(-40deg); */
  animation: movingRight30 2s ease-in-out;
}
.H-text {
  position: absolute;
  top: 48%;
  left: 25%;
  height: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.H-text > h1 {
  /* position: absolute; */
  margin: 0;
  /* font-size: 150%; */
  color: black;
  /* text-shadow: 2px 3px navy; */
  overflow: hidden;
}
.H-text > h5 {
  margin: 0;
  color: var(--main-stress);
  /* color: rgb(151, 111, 78); */
  animation: movingDown 1s ease-in-out;
}

.H-text1 {
  animation: movingRight400 2s ease-in-out;
  top: 100px;
}
.H-text2 {
  animation: movingRight400 2.5s ease-in-out;
  top: 200px;
}
.H-text3 {
  animation: movingRight400 3s ease-in-out;
  top: 300px;
}
.H-text button {
  padding: 5%;
  animation: movingUp 3s;
}

@keyframes movingDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes movingRight400 {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes movingRight30 {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes movingLeft30 {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes movingUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.H-about {
  margin: auto;
  /* div 안의 div를 가운데 정렬 하고 싶을때 */
  align-self: center;
  /* width: 700px; */
  width: 70%;
}

.H-about > div {
  padding: 10% 3%;
}

.H-about a {
  font-size: 15px;
  text-decoration: none;
  color: var(--main-stress);
  /* text-shadow: 1px 1px 1px black; */
}

.H-about-header {
  font-size: 30px;
  border-bottom: 4px solid transparent;
  position: relative;
}
.H-about-header:before {
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  top: 40px;
  left: 0;
  background-color: transparent;
  transition: all linear 0.3s;
}

.H-about > div:hover > .H-about-header:before {
  width: 100px;
  background-color: var(--main-stress);
}
.H-about h1 {
  margin: 0;
}

.H-about-text {
  font-size: 18px;
  margin: 0;
  padding-top: 3%;
  width: 100%;
}
.H-about-vs {
  font-size: 30px;
  margin: auto;
}

.H-about-why {
  display: flex;
  justify-content: space-around;
}
.H-about-why > div {
  text-align: center;
}
.H-about-vs {
  color: var(--main-stress);
  padding: 2%;
  border-radius: 50%;
  background-color: var(--main-lighter);
}
.H-about-text1 {
  display: flex;
  margin: 15% 0;

  position: relative;
}
.H-about-text1 div {
  margin: auto;
  padding: 2%;
}
.H-about-text1 span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 8em;
  font-weight: 800;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  color: var(--main-stress);
  /* text-shadow: 2px 2px 5px var(--main-lighter); */
}

.H-about-text1-2 {
  left: 0;
  animation: movingRight30 2s;
}
.H-circle,
.H-circle-left,
.H-circle-right {
  position: absolute;
  border-radius: 50%;
  background-color: var(--main-light);

  z-index: -1;
}
.H-c1 {
  width: 30vw;
  height: 30vw;
  top: 80vh;
  background: radial-gradient(
    circle at top right,
    var(--main-stress),
    white 80%
  );
  animation: right-to-left 30s linear infinite;
}
.H-c2 {
  width: 10vw;
  height: 10vw;
  top: 110vh;
  background: radial-gradient(
    circle at bottom left,
    rgb(78, 140, 255),
    white 90%
  );
  /* background-color: rgb(182, 208, 255); */
  animation: right-to-left 50s linear infinite;
}
.H-circle-left {
  width: 30vw;
  height: 30vw;
  top: 5%;
  background: radial-gradient(
    circle at top left,
    var(--main-stress),
    white 80%
  );
}
.H-circle-right {
  width: 30vw;
  height: 30vw;
  right: -8%;
  top: 5%;
  background: radial-gradient(
    circle at top right,
    var(--main-stress),
    white 80%
  );
}

@keyframes right-to-left {
  0% {
    transform: translate(-20vw, 0px) rotate(0deg);
    opacity: 0.2;
  }

  25% {
    transform: translate(15vw, 25vw) rotate(90deg);
  }
  50% {
    transform: translate(50vw, 0px) rotate(180deg);
    opacity: 1;
  }
  75% {
    transform: translate(15vw, -25vw) rotate(270deg);
  }
  100% {
    transform: translate(-20vw, 0px) rotate(360deg);
    opacity: 0.2;
    /* transform: rotate(360deg); */
  }
}

.H-footer {
  position: relative;
  /* height: 10vh; */
  padding: 2%;
  background-color: var(--main-lighter);
  display: flex;
  flex-direction: column;

  text-align: center;
}

.H-footer-logo {
  width: 150px;
  margin: auto;
}

/* 태블릿 사이즈 */
@media screen and (max-width: 768px) {
  .H-header {
    height: 50vh;
  }
  .H-text > h1 {
    font-size: 20px;
  }
  .H-text > h5 {
    font-size: 10px;
  }
  .H-about {
    width: 90%;
  }
  .H-about-text {
    font-size: 15px;
  }

  .H-about a {
    font-size: 13px;
  }
  .H-about-text1 span {
    font-size: 5em;
  }
}

@media screen and (max-width: 480px) {
  .H-header {
    height: 30vh;
  }
  .H-text {
    top: 48%;
    left: 30%;
    height: 70%;
  }
  .H-text > h1 {
    /* position: absolute; */
    margin: 0;
    font-size: 15px;
    color: black;
    /* text-shadow: 2px 3px navy; */
    overflow: hidden;
  }
  .H-about {
    width: 90%;
  }
  .H-about-text {
    font-size: 15px;
    padding: 5% 0;
  }

  .H-about a {
    font-size: 13px;
  }
  .H-about-text1 span {
    font-size: 3em;
  }
  .H-about-why {
    flex-direction: column;
    /* justify-content: space-around; */
  }
  .H-c1 {
    top: 55vh;
  }
  .H-c2 {
    top: 60vh;
  }
  .H-footer {
    font-size: 12px;
  }

  .H-footer-logo {
    width: 100px;
  }
}
