.Message {
  padding: 5%;
  background-color: var(--main-lighter);
  height: 68vh;
  border-radius: 0px 0px 30px 30px;
}

.Chatroom .Message {
  padding: 0.5%;
  width: 25%;
  height: 85vh;
}
.M-rooms {
  text-align: left;
}

.M-room {
  /* border: 1px solid var(--main-stress); */
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  position: relative;
  width: 80%;
  cursor: pointer;
}
/* .Chatroom .M-room {
  width: 100%;
} */
.M-rooms-lastchat {
  /* height: 26px; */
  font-size: var(--font-m);
  width: 100%;
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  /* display: block; */
  text-overflow: ellipsis;
}
.M-rooms-lastdate {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: var(--font-s);
}

@media screen and (max-width: 768px) {
  .Message {
    padding: 2%;
    background-color: var(--main-light);
    height: 80vh;
  }
}
