.P-info {
  width: 30%;
  height: 100px;
  text-align: left;
  margin: 3% auto;
  padding: 1% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-lighter);
  box-shadow: 3px 3px 5px var(--main-stress);
  position: relative;
  animation: appear 1s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/* .P-info form {
  display: flex;
  justify-content: space-between;
} */

.P-info-username {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 130%; */
}
.P-info-username input {
  padding: 5px;
  /* width: 50%; */
  outline: none;
  border: none;
  border-bottom: 2px solid var(--main-stress);
}
.P-info-username h3 {
  padding-bottom: 5%;
  margin: 0;
}
.P-info-savebtn {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.P-info-right {
  display: flex;
  text-align: right;
  flex-direction: column;
}
.P-info-right button {
  margin-bottom: 5px;
}
.P-buttons {
  border-bottom: 1px solid black;
  width: 70%;
  margin: 0 15%;
  display: flex;
}
.P-buttons > * {
  width: 50%;
  font-size: 17px;
  padding: 1%;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}
.P-books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.P-book {
  /* border: 1px solid salmon; */
  padding: 2%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px dashed gray;
}
.P-book-detail {
  /* border: 1px solid olive; */
  height: 100%;
}

.P-book-img {
  /* border: 1px solid salmon; */
  width: 100%;
  height: 140px;
}
.P-book-img > img {
  box-shadow: 2px 2px 7px;
}

.P-book .likingButton {
  position: static;
  border: none;
}
.P-book .likingButton:hover {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 768px) {
  .P-info {
    width: 60%;
    /* height: 70px; */
  }
  .P-info-username h3 {
    font-size: 17px;
  }
  .P-books {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .P-info {
    height: 60px;
    margin: 10% auto;
    width: 70%;
    padding: 2% 3%;
  }
  .P-books {
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
  }
  .P-info-username input {
    padding: 5px;
    width: 50%;
  }
}
